@font-face{
    font-family: 'BreeSerif';
    src: url('BreeSerif-Regular.ttf');
}
body{
    margin: auto;
    max-width: 800px;
    font-family: 'BreeSerif'; 
    background-color: #FCF8E8;   
}
header{
    height: 80px;
    background-color:#ECB390; 
    position: relative;
    display: flex;
    justify-content: space-between;   
}
header a{
    text-decoration: none;
    margin: auto;
    color: black;
    font-size: large;
}
.logosorvete{
    height: 70px;
}
.imgcontainer{
    width: auto;
    height: 400px;
    background-color: #FCF8E8;
    border-top: 20px solid #94B49F;
    border-bottom: 20px solid #94B49F;        
}    
.imgcontainer img{
    width: 100%;
    height: 100%;
    object-fit: cover;   
}
.sobre{
    text-align: justify;
    margin-top: 10px;   
    min-width: 200px;
    min-height: 200px;
    position: relative;
    font-size: large;
}
.sobre hr{
    
    border-color: #DF7861;
}
.cardapio{
    text-align: center;  
    font-size: large; 
}
.cardapio img{
    height: 150px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;  
}
.cardapio img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.cardapio h3{
    margin-bottom: 15px;
    margin-top: 10px; 
}

.cardapio h4{
    margin-bottom: 20px;
    margin-top: 20px;
}
.cardapio p{
    margin-top: 0;
    color: blueviolet;
}
.cardapio div{
    width: auto;
    height: auto;
    margin:10px; /* Margin permite definir uma distancia entre as bordas das bordas, sem o margin, as bordas ficam unidas */
    border: 2px solid #DF7861; 
    padding-bottom: 0px;
    padding-top: 0px;
    border-collapse: separate; 
    padding-bottom: 40px;
    padding-top: 30px;
}
footer{
    margin: auto;
    background-color: #ECB390;
    border-top: 20px solid #94B49F; 
    border-bottom: 20px solid #94B49F;
}
footer a{
    text-decoration: none;
    color: black;
}
.divfootermenu img{
    width: 45px;
    height: 45px;  
}
.divfootermenu{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.divfootermenu ul{
    list-style: none;
}
.titulo{
    margin-bottom: 10px;
    font-size: 15px;
}
footer li{
    font-size: 10px;
}
.divfootermenu button{
    padding: 5px 10px;
    font-size: large;
    cursor:pointer;   
}